body {
    overflow: hidden;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    margin: 0px;
    top: 0;
    bottom: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
