.main_page {
    width: 100dvw;
    display: flex;
    flex-wrap: wrap;
}

/* TopBar */
.topbar {
    width: 100dvw;
    height: 3dvh;
    background-color: #9dd2ff;
    position: relative;
    display: inline-flex;
}
.page_title {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 3dvh;
    margin-left: 20px;
}
.selected_count {
    position: absolute;
    right: 20px;
    font-size: 1.3em;
    line-height: 3dvh;
}

/* Toolbar */
.toolbar {
    width: 100dvw;
    height: 4dvh;
    background-color: #bce0ff;
    position: relative;
    display: inline-flex;
}
.tool {
    padding: 0px 7px;
    border: none;
    background: none;
}

/* Folders */
.folder_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33dvw;
    height: 33dvw;
}
.folder_container.selected {
    background-color: #c4d1dd66;
}
.folder_container > button {
    background: none;
    border: none;
    padding: 0px;
}
.folder_icon {
    width: 25dvw;
    height: 25dvw;
}
.folder_name {
    font-size: 1.2em;
    font-weight: 500;
    position: absolute;
    width: 33dvw;
    text-align: center;
    left: 0px;
    bottom: 5px;
}
.selected_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5vw;
    height: 5vw;
    pointer-events: none;
}

/* Buttons */
.toggle_edit_button { 
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(161, 210, 255);
    padding: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}