.main_page {
    width: 100dvw;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

/* TopBar */
.topbar {
    width: 100dvw;
    height: 3dvh;
    background-color: #9dd2ff;
    position: relative;
    display: inline-flex;
}
.page_title {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 3dvh;
    margin-left: 10px;
}
.selected_count {
    position: absolute;
    right: 20px;
    font-size: 1.3em;
    line-height: 3dvh;
}

/* Toolbar */
.toolbar {
    width: 100dvw;
    height: 4dvh;
    background-color: #bce0ff;
    position: relative;
    display: inline-flex;
}
.tool {
    padding: 0px 7px;
    border: none;
    background: none;
}

/* Images */
.image_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33dvw;
    height: 33dvw;
}
.image_container.selected {
    background-color: #c4d1dd66;
}
.image_container > button {
    background: none;
    border: none;
    padding: 0px;
}
.image_icon {
    max-width: 25dvw;
    max-height: 25dvw;
}
.image_name {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 33dvw;
    font-family: sans-serif;
    font-size: 0.6em;
    font-weight: 500;
    font-stretch: extra-condensed;
    text-align: center;
}
.selected_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5vw;
    height: 5vw;
    pointer-events: none;
}

/* Buttons */
.toggle_edit_button { 
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(161, 210, 255);
    padding: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.refresh_button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(150, 255, 218);
    position: absolute;
    padding: 0px;
    bottom: 20px;
    right: 105px;
}

/* Floating Menu */
.floating_menu_container {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.floating_menu_backdrop {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #9c9c9c4e;
    backdrop-filter: blur(3px);
    z-index: -1;
}
.floating_menu {
    width: 80dvw;
    height: 50dvh;
    margin-top: 7dvh;
}

/* Fullscreen Image */
.full_image_container {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    background-color: rgba(65, 65, 65, 0.536);
}
.full_image {
    width: 100dvw;
    min-width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}
.full_image > img {
    max-width: 100dvw;
    max-height: 100dvh;
}
.full_image_container > button {
    width: 40dvw;
    height: 100dvh;
    position: absolute;
    top: 0px;
    background: none;
    border: none;
    padding: none;
}
.move_left_button {
    left: 0px;
}
.move_right_button {
    right: 0px;
}

/* Page Bar */
.page_bar {
    position: absolute;
    left: 30px;
    bottom: 10px;
    display: inline-flex;
    width: auto;
    height: 50px;
}
.page_bar > button {
    background: none;
    padding: 10px;
    border: none;
    line-height: 50px;
    font-size: 1.3em;
    font-weight: bold;
}